<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuthServices</key>
	<array>
		<dict>
			<key>title</key>
			<string>腾讯微博</string>
			<key>name</key>
			<string>TXWeiboSharer</string>
			<key>oauthType</key>
			<string>1</string>
			<key>accessTokenURL</key>
			<string>https://open.t.qq.com/cgi-bin/access_token</string>
			<key>authorizeURL</key>
			<string>https://open.t.qq.com/cgi-bin/authorize</string>
			<key>requestTokenURL</key>
			<string>https://open.t.qq.com/cgi-bin/request_token</string>
			<key>callbackURL</key>
			<string>oob</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新浪微博</string>
			<key>name</key>
			<string>SinaWeiboSharer</string>
			<key>oauthType</key>
			<string>0</string>
			<key>accessTokenURL</key>
			<string>http://api.t.sina.com.cn/oauth/access_token</string>
			<key>authorizeURL</key>
			<string>http://api.t.sina.com.cn/oauth/authorize</string>
			<key>requestTokenURL</key>
			<string>http://api.t.sina.com.cn/oauth/request_token</string>
			<key>callbackURL</key>
			<string>oob</string>
		</dict>
		<dict>
			<key>title</key>
			<string>搜狐微博</string>
			<key>name</key>
			<string>SouhuWeiboSharer</string>
			<key>oauthType</key>
			<string>0</string>
			<key>accessTokenURL</key>
			<string>http://api.t.sohu.com/oauth/access_token</string>
			<key>authorizeURL</key>
			<string>http://api.t.sohu.com/oauth/authorize</string>
			<key>requestTokenURL</key>
			<string>http://api.t.sohu.com/oauth/request_token</string>
			<key>callbackURL</key>
			<string>oob</string>
		</dict>
		<dict>
			<key>title</key>
			<string>开心网</string>
			<key>name</key>
			<string>KaixinSharer</string>
			<key>oauthType</key>
			<string>0</string>
			<key>accessTokenURL</key>
			<string>http://api.kaixin001.com/oauth/access_token</string>
			<key>authorizeURL</key>
			<string>http://api.kaixin001.com/oauth/authorize</string>
			<key>requestTokenURL</key>
			<string>http://api.kaixin001.com/oauth/request_token</string>
			<key>callbackURL</key>
			<string>oob</string>
		</dict>
		<dict>
			<key>title</key>
			<string>人人网</string>
			<key>name</key>
			<string>RenRenSharer</string>
			<key>oauthType</key>
			<string>2</string>
			<key>accessTokenURL</key>
			<string></string>
			<key>authorizeURL</key>
			<string>https://graph.renren.com/oauth/authorize</string>
			<key>requestTokenURL</key>
			<string></string>
			<key>callbackURL</key>
			<string>http://graph.renren.com/oauth/login_success.html</string>
		</dict>
	</array>
	<key>RedirectServices</key>
	<array>
		<dict>
			<key>title</key>
			<string>115收藏夹	</string>
			<key>name</key>
			<string>115</string>
		</dict>
		<dict>
			<key>title</key>
			<string>139社区	</string>
			<key>name</key>
			<string>139</string>
		</dict>
	</array>
	<key>Actions</key>
	<array>
		<dict>
			<key>name</key>
			<string>Email</string>
			<key>description</key>
			<string>电子邮件</string>
		</dict>
	</array>
</dict>
</plist>
